/* Global */
@font-face {
    font-family: "Bicubik";
    src: url("../fonts/Bicubik.eot");
    src: local("../fonts/Bicubik"), url("../fonts/Bicubik.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Bicubik.woff") format("woff"), url("../fonts/Bicubik.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Nasalization";
    font-style: normal;
    font-weight: normal;
    src: local("Nasalization"), url("../fonts/nasalization rg.woff") format("woff");
}

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

body.overflow {
    overflow: hidden;
}

a {
    text-decoration: none;
}

.navigation__item--mobile {
    display: none;
}

.burger-menu {
    border-radius: 5px;
    padding: 20px;
    display: none;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}

.burger-menu span {
    height: 3px;
    width: 52px;
    background-color: #fff;
    display: block;
    transition: all 0.25s ease-in-out;
}

.burger-menu--active {
    padding: 26px;
}

.burger-menu--active span:nth-child(1) {
    transform: rotate(-45deg);
}

.burger-menu--active span:nth-child(2) {
    transform: rotate(45deg);
    margin-top: -12px;
}

.container {
    max-width: 1190px;
    margin: 0 auto;
}

#wrapper {
    min-height: 100%;
    padding-bottom: 290px;
    background: url("../images/wrapper-bg.jpg") no-repeat center top;
    background-size: cover;
}

.btn--green {
    display: flex;
    padding: 10px 20px;
    background: radial-gradient(76.75% 76.75% at 70% 23.25%, #a5ff5e 0%, #e2fb4c 100%);
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #000000;
    position: relative;
    opacity: 0.8;
    transition: all 0.3s;
}

.btn--green:hover {
    opacity: 1;
}

.heading {
}

.block-name {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #e2fb4c;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.title {
    font-style: normal;
    font-size: 80px;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.title > span {
    font-family: "Nasalization", sans-serif;
    text-shadow: 0 0 1421px #ffffff, 0 0 812px #ffffff, 0 0 474px #ffffff, 0 0 237px #ffffff, 0 0 68px #ffffff,
        0 0 34px #ffffff;
}

.title > span:nth-of-type(1) {
    -webkit-text-stroke: 2px #ffffff;
    color: transparent;
}

.title > span:nth-of-type(2) {
    color: #ffffff;
}

.description {
    max-width: 585px;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
}

.description > p {
    margin-bottom: 20px;
}

.description > p:nth-last-of-type(1) {
    margin-bottom: 0;
}

.description .strong {
    font-weight: 700;
}

p.description-focus {
    margin-top: 56px;
    margin-bottom: 65px;
    padding-left: 30px;
    position: relative;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #ffffff;
    mix-blend-mode: normal;
    max-width: 450px;
}

p.description-focus:before {
    content: "";
    width: 5px;
    height: 100%;
    background: #ffffff;
    box-shadow: 0 0 1421px #ffffff, 0 0 812px #ffffff, 0 0 474px #ffffff, 0 0 237px #ffffff, 0 0 68px #ffffff,
        0 0 34px #ffffff;
    position: absolute;
    left: 0;
    top: 0;
}

.link-section {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #e2fb4c;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.link-section > img {
    margin-left: 15px;
    transition: all 0.5s;
}

.link-section:hover > img {
    transform: translateX(10px);
}
/* \Global */

/* Header */
.header {
    padding: 0 20px 0 40px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(27, 8, 35, 0.12);
    backdrop-filter: blur(15px);
    height: 77px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 222;
}

.header__logo {
}

.header__logo > img {
}

.header__content {
    display: flex;
    align-items: center;
}

.header__element {
    margin-right: 20px;
}

.header__btn {
    margin-right: 60px;
}

.header__link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__icon {
    transition: all 0.5s;
}

.header__link:hover .header__icon {
    transform: scale(1.1);
}
/* \Header */

/* Navigation */
.navigation {
}

.navigation__list {
    list-style: none;
    display: flex;
}

.navigation__item {
    margin-right: 20px;
    transform: translateY(2px);
}

.navigation__item:nth-last-of-type(1) {
    margin-right: 0;
}

.navigation__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    transition: all 0.5s;
    position: relative;
    overflow: hidden;
    display: inline-block;
    padding-bottom: 2px;
}

.navigation__link:after {
    content: "";
    width: 100%;
    height: 1px;
    background: #e2fb4c;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    transition: all 0.5s;
}

.navigation__link:hover {
    color: #e2fb4c;
}

.navigation__link:hover:after {
    transform: translateX(0);
}

.navigation__link > i {
    margin-right: 10px;
}
/* \Navigation */

/* Intro */
.intro {
    padding-top: 107px;
    padding-bottom: 150px;
}

.intro__heading {
    max-width: 615px;
}

.intro__name {
}

.intro__title {
    font-size: 158px;
    line-height: 161px;
}

.intro__desc {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #e2fb4c;
    padding-bottom: 110px;
    position: relative;
}

.intro__desc:after {
    content: "";
    width: 100px;
    height: 5px;
    background: #ffffff;
    box-shadow: 0 0 1421px #ffffff, 0 0 812px #ffffff, 0 0 474px #ffffff, 0 0 237px #ffffff, 0 0 68px #ffffff,
        0 0 34px #ffffff;
    position: absolute;
    left: 0;
    bottom: 55px;
}

.intro__buttons {
    list-style: none;
    display: flex;
}

.intro__item {
    margin-right: 10px;
}

.intro__item:nth-last-of-type(1) {
    margin-right: 0;
}

.intro__btn {
    border-radius: 2px;
}
/* Intro */

/* About */
.about {
    padding: 100px 0;
    position: relative;
}

.about__heading {
}

.about__name {
}

.about__title {
}

.about__description {
}

.about__img {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}
/* \About */

/* Popular */
.popular {
    padding-bottom: 87px;
}

.popular__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.popular__name {
    margin-bottom: 0;
}

.popular__list {
    list-style: none;
    display: flex;
    margin-bottom: 60px;
}

.popular__item {
    width: calc(20% - 16px);
    margin-right: 20px;
    background: linear-gradient(137.42deg, rgba(255, 255, 255, 0.031) -2.91%, rgba(255, 255, 255, 0.0115) 107.27%);
    box-shadow: inset -5px -4px 40px rgba(214, 214, 214, 0.25), inset 5px 4px 40px rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(25px);
    border-radius: 2px;
    padding: 10px 10px 27px;
}

.popular__item-link {
    text-decoration: none;
}

.popular__item:nth-last-of-type(1) {
    margin-right: 0;
}

.popular__img-wrap {
    position: relative;
    margin-bottom: 10px;
    height: 203px;
}

.popular__save {
    position: absolute;
    top: 5px;
    right: 5px;
    background: linear-gradient(137.42deg, rgba(255, 255, 255, 0.062) -2.91%, rgba(255, 255, 255, 0.023) 107.27%);
    box-shadow: inset -5px -4px 40px rgba(214, 214, 214, 0.25), inset 5px 4px 40px rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(25px);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
}

.popular__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.popular__price {
    position: absolute;
    right: 0;
    bottom: 9px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    width: 60px;
    font-family: "Nasalization", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #ffffff;
    padding: 4px 0;
}

.popular__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
}

.popular__tabs {
    list-style: none;
    display: flex;
}

.popular__tab,
.popular__indication {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #e2fb4c;
}

.popular__tab {
    margin-right: 10px;
}

.popular__indication {
}

.popular__caption {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
}

.popular__content {
    display: flex;
    justify-content: space-between;
}

.popular-big {
    width: 59%;
    display: flex;
    background: #1f0029;
}

.popular-big__img {
    object-fit: cover;
}

.popular-big__content {
    padding: 20px 0 30px 20px;
}

.popular-big__tab {
    background: radial-gradient(76.75% 76.75% at 70% 23.25%, #a5ff5e 0%, #e2fb4c 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    border-radius: 2px;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #000000;
    padding: 6px 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.popular-big__title {
    padding-right: 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    mix-blend-mode: normal;
    margin-bottom: 18px;
}

.popular-big__desc {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
    mix-blend-mode: normal;
    padding-right: 70px;
    margin-bottom: 55px;
}

.popular-big__block {
    display: flex;
    justify-content: space-between;
}

.popular-big__author {
    display: flex;
}

.popular-popular-big__author-img {
    border-radius: 50%;
    width: 52px;
    height: 52px;
    margin-right: 10px;
}

.popular-big__author-info {
}

.popular-big__author-name {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #e2fb4c;
    margin-bottom: 5px;
}

.popular-big__author-company {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
}

.popular-big__price {
    padding: 6px 0;
    width: 90px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #ffffff;
    word-spacing: 9999999px;
}

.popular-news {
    width: 39%;
    background: #1f0029;
    padding: 24px 0 0 28px;
    position: relative;
}

.popular-news:after {
    content: "";
    width: 100%;
    background: linear-gradient(171.77deg, #000000 13.14%, rgba(0, 0, 0, 0) 86.28%);
    transform: rotate(-180deg);
    position: absolute;
    height: 138px;
    bottom: 0;
    left: 0;
}

.popular-news__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding-right: 24px;
}

.popular-news__block {
    display: flex;
    align-items: center;
}

.popular-news__tab {
    background: #ff56f6;
    box-shadow: 0 4px 97px rgba(255, 86, 246, 0.51);
    backdrop-filter: blur(192px);
    border-radius: 2px;
    padding: 4px 8px;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #000000;
    margin-right: 18px;
}

.popular-news__date {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #e2fb4c;
}

.popular-news__list {
    list-style: none;
    overflow-y: scroll;
    height: 263px;
    padding-right: 24px;
}

.popular-news__list::-webkit-scrollbar {
    width: 5px;
}

.popular-news__list::-webkit-scrollbar-track {
    background: #424242;
}

.popular-news__list::-webkit-scrollbar-thumb {
    background: #ff56f5;
}

.popular-news__item {
    margin-bottom: 10px;
}

.popular-news__item:nth-last-of-type(1) .popular-news__description {
    border-bottom: none;
}

.popular-news__link {
    display: flex;
    text-decoration: none;
}

.popular-news__img {
    margin-right: 19px;
}

.popular-news__description {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
    mix-blend-mode: normal;
    padding-top: 6px;
    border-bottom: 1px solid #1e5624;
}
/* \Popular */

/* Benefits */
.benefits {
}

.benefits__name {
}

.benefits__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.benefits__item {
    background: linear-gradient(137.42deg, rgba(255, 255, 255, 0.031) -2.91%, rgba(255, 255, 255, 0.0115) 107.27%);
    box-shadow: inset -5px -4px 40px rgba(214, 214, 214, 0.25), inset 5px 4px 40px rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(25px);
    border-radius: 2px;
    width: calc(100% / 3 - 17px);
    margin-bottom: 33px;
}

.benefits__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
}

.benefits__number {
    font-family: "Bicubik", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
    line-height: 136px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    -webkit-text-stroke: 2px #ffffff;
    color: transparent;
    text-shadow: 0 0 1421px #ffffff, 0 0 812px #ffffff, 0 0 474px #ffffff, 0 0 237px #ffffff, 0 0 68px #ffffff,
        0 0 34px #ffffff;
}

.benefits__icon {
}

.benefits__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20px 20px;
}

.benefits__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    mix-blend-mode: normal;
    margin-bottom: 10px;
}

.benefits__desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    mix-blend-mode: normal;
}

.benefits__desc ul {
    list-style: none;
}

.benefits__desc li {
    position: relative;
    padding-left: 25px;
}

.benefits__desc li:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #fff;
    left: 0;
    top: 7px;
}

/* \Benefits */

/* Platform */
.platform {
    position: relative;
    padding-top: 70px;
    padding-bottom: 100px;
    overflow: hidden;
}

.platform > .container {
}

.platform__heading {
}

.platform__name {
}

.platform__title {
}

.platform__description {
}

.platform__img {
    position: absolute;
    top: 0;
    right: 0;
}

.platform__focus-desc {
    margin-top: 62px;
    position: relative;
    max-width: 465px;
    height: 235px;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    mix-blend-mode: normal;
    padding: 60px 55px 55px 55px;
}

.platform__focus-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* \Platform */

/* Team */
.team {
    padding-bottom: 84px;
}

.team__title {
}

.team__desc {
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    mix-blend-mode: normal;
    margin-bottom: 42px;
}

.team__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.team__item {
    width: calc(20% - 16px);
    padding: 12px 12px 16px;
    background: linear-gradient(137.42deg, rgba(255, 255, 255, 0.062) -2.91%, rgba(255, 255, 255, 0.023) 107.27%);
    box-shadow: inset -5px -4px 40px rgba(214, 214, 214, 0.25), inset 5px 4px 40px rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(25px);
    border-radius: 2px;
}

.team__img {
    margin-bottom: 9px;
    width: 100%;
    object-fit: cover;
}

.team__profession {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #e2fb4c;
    margin-bottom: 9px;
}

.team__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    mix-blend-mode: normal;
}

.team__item.empty {
    padding: 0;
    position: relative;
}

.team__item.empty .team__img {
    height: 100%;
    width: 100%;
    margin-bottom: 0;
}

.team__item.empty .team__message {
    position: absolute;
    bottom: 12px;
    left: 12px;
    font-family: "Bicubik", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.03em;
    color: #e2fb4c;
}
/* \Team */

/* Footer */
.footer {
    height: 290px;
    margin-top: -290px;
    background: #1f0029;
    box-shadow: 0 9px 32px rgba(89, 92, 219, 0.05);
    padding-top: 39px;
}

.footer > .container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.footer__information {
    display: flex;
    gap: 37px;
}

.footer__logo {
}

.footer__logo > img {
    width: 82px;
}

.footer__desc {
    position: relative;
    padding-left: 34px;
}

.footer__desc::before {
    content: "";
    width: 1px;
    height: calc(100% - 70px);
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
}

.footer__title {
    font-size: 44px;
}

.footer__title > span:nth-of-type(1) {
    -webkit-text-stroke: 1px #ffffff;
}

.footer__description {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #e2fb4c;
    margin-bottom: 49px;
    max-width: 315px;
}

.footer__copyright {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #959ba5;
}

.footer__navigation {
    display: flex;
    align-items: flex-end;
    gap: 71px;
}

.footer__nav {
}

.footer__item {
    list-style-type: none;
    margin-bottom: 10px;
}

.footer__nav-link {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    transition: all 0.5s;
    position: relative;
    overflow: hidden;
    display: inline-block;
    padding-bottom: 2px;
}

.footer__nav-link:before {
    content: "";
    width: 100%;
    height: 1px;
    background: #e2fb4c;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-105%);
    transition: all 0.5s;
}

.footer__nav-link:hover {
    color: #e2fb4c;
}

.footer__nav-link:hover:before {
    transform: translateX(0);
}

.footer__nav-link > i {
    margin-right: 9px;
}

.footer__item.dark .footer__nav-link {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #959ba5;
}

.pg-li {
    padding-bottom: 19px;
    margin-bottom: 19px;
    border-bottom: 1px solid #fff;
}

.footer__item.partition {
}

.footer__contacts {
}

.footer__transparent-btn {
    display: flex;
    align-items: center;
    background: linear-gradient(137.42deg, rgba(255, 255, 255, 0.062) -2.91%, rgba(255, 255, 255, 0.023) 107.27%);
    box-shadow: inset -5px -4px 40px rgba(214, 214, 214, 0.25), inset 5px 4px 40px rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(25px);
    border-radius: 2px;
    text-decoration: none;
    margin-bottom: 29px;
}

.footer__transparent-btn > img {
}

.footer__transparent-btn > span {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    max-width: 120px;
}

.footer__buttons {
}

.footer__buttons > li {
    list-style-type: none;
    margin-bottom: 10px;
}

.footer__button {
    justify-content: center;
}

.footer__links {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.footer__links > li {
    list-style-type: none;
}

.footer__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #959ba5;
}
.footer__item--metamask {
    display: none;
}
/* \Footer */

.platform__focus-img-mobile,
.footer__copyright--mobile {
    display: none;
}
/* slider */

.popular__link-mobile {
    display: none;
}

.popular-slider,
.benefits-slider,
.team-slider {
    display: none;
    position: relative;
    overflow: hidden;
    width: 233px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
}

.swiper-pagination {
    height: 10px;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #fff;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: radial-gradient(76.75% 76.75% at 70% 23.25%, #a5ff5e 0%, #e2fb4c 100%);
}

/* Adaptive */

/* \Adaptive */
